<div class="bg-gray-100 min-h-screen">
  <img src="../../assets/images/icons8-back-button-30.png" alt="back" class="justify-start cursor-pointer" (click)="navigateToForm()">
  <div class="px-4 sm:px-6 lg:px-8 py-6 mb-4 w-full max-w-3xl mx-auto border-b-2 border-orange-300">
    <h1 class="text-3xl font-extrabold text-black mb-2 text-center tracking-tight">APPLICATION FORM FOR GRANT OF AEO
      STATUS</h1>
    <p class="text-gray-700 text-sm mb-2 text-center">(Please fill-up the annexures as may be applicable to the
      applicant)</p>
  </div>

  <div class="bg-white shadow-md rounded  w-full max-w-8xl mx-auto">
    <div class="bg-gray-200 rounded-t p-2 text-center ">
      <h2 class="text-2xl font-extrabold text-black mb-2 text-center tracking-tight mb-2">Annexure - B</h2>
      <h2 class="text-xl font-extrabold text-black mb-2 text-center tracking-tight mb-2">SECURITY PLAN</h2>
      <p class="text-gray-700 text-sm mb-4">(applicable for grant of AEO-T2, AEO-T3 and AEO-LO)</p>
    </div>
    <div class=" px-4 sm:px-6 lg:px-8 py-6 mb-4">
      <!-- main content -->


    <h3 class="text-lg font-bold mb-4"></h3>

    <p class="text-gray-700 mb-4">
      The economic operator wishing to participate in the AEO Programme shall submit to Customs a security plan
      documenting the policies, processes and procedures that it has in place to ensure that goods for export/import are
      packed at a secure premise/facility, accurately accounted for and transported securely to the point of
      export/import from the point of origin.
    </p>

    <p class="text-gray-700 mb-4">
      The security plan must detail the company's written and verifiable policies, processes, procedures etc., in
      respect of the following:
    </p>

    <ul class="list-disc list-inside grid grid-cols-1 sm:grid-cols-2 gap-4 list-none mb-4">
      <li class="text-lg font-semibold  mb-2">Procedural security. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
      <li class="text-lg font-semibold  mb-2">Document security. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li >
      <li class="text-lg font-semibold  mb-2">Physical security. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
      <li class="text-lg font-semibold  mb-2">Access controls. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
      <li class="text-lg font-semibold  mb-2">Personnel security. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
      <li class="text-lg font-semibold  mb-2">Training and skill upgradation. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
      <li class="text-lg font-semibold  mb-2">Compliance with other Government security related requirements, if any. <input type="file"
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none">
      </li>
    </ul>



    </div>



  </div>






</div>
<app-sticky-button></app-sticky-button>





